/* */


.Header {
    margin-left: 100px;
}

.headerInput,
.headerInput-dark {
    width: 100%;
    padding-right: 80px;
    border: none;
    font-size: var(--xxxl);
    line-height: 1.1;
    font-weight: var(--slogan) !important;
    color: var(--light-text-primary);
}

.headerInput::placeholder,
.headerInput-dark::placeholder {
    font-size: var(--slogan);
}

.headerInput:focus,
.headerInput-dark:focus {
    outline: none;
}

.headerImg {
    object-fit: cover;
    width: 100%;
    height: calc(130px + (200 - 130) * ((100vw - 500px) / (1600 - 500)));
}


.headerImageButton {
    position: absolute;
    bottom: 40px;
    right: 60px;
    border: none;
    background-color: transparent;
    padding: 5px;
    transition: 0.5s ease;
}

.headerImageButton i {
    font-size: var(--xl);
    color: var(--dark-text-secondary);
    border-radius: 4px;
    filter: drop-shadow(0 0 4px var(--text-primary));
}