@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

@import "./styles/navbar.css";

:root {
  --dark-bg-primary: #060606;
  --dark-bg-navbar: #222222;
  --dark-bg-interact: #2e2e2e;
  --dark-bg-modal: #272727;
  --dark-bg-card: #373737;
  --dark-bg-card-hover: #3b3b3b;
  --dark-text-primary: #f6f6f6;
  --dark-text-secondary: #9b9b9b;
  --dark-text-terciary: #5d5d5d;

  --light-bg-primary: #ffffff;
  --light-bg-secondary: #f6f6f6;
  --light-bg-navbar: #efeeee;
  --light-bg-interact: #e3e3e3;
  --light-bg-modal: #d5d5d5;
  --light-text-primary: #060606;
  --light-text-secondary: #8f8e8a;
  --light-text-terciary: #cbcbcb;

  --color-primary: #fa9128;
  --light-color-primary: #ffa344;
  --color-primary-interact: #dc8835;


  font-family: "Mukta", sans-serif !important;

  --icon: calc(76px + (90 - 76) * ((100vw - 400px) / (1600 - 400)));
  --timer: calc(16px + (36 - 16) * ((100vw - 600px) / (1600 - 600)));
  --xxxxl: calc(52px + (68 - 52) * ((100vw - 400px) / (1600 - 400)));
  --xxxl: calc(34px + (50 - 34) * ((100vw - 400px) / (1600 - 400)));
  --xxl: calc(26px + (38 - 26) * ((100vw - 400px) / (1600 - 400)));
  --xl: calc(20px + (30 - 20) * ((100vw - 400px) / (1600 - 400)));
  --lg: calc(18px + (24 - 18) * ((100vw - 400px) / (1600 - 400)));
  --md: calc(16px + (20 - 16) * ((100vw - 400px) / (1600 - 400)));
  --st: calc(15px + (18 - 15) * ((100vw - 400px) / (1600 - 400)));
  --sm: calc(14px + (16 - 14) * ((100vw - 400px) / (1600 - 400)));
  --xs: calc(12px + (14 - 12) * ((100vw - 400px) / (1600 - 400)));
  --xxs: calc(10px + (12 - 10) * ((100vw - 400px) / (1600 - 400)));
  --xxxs: calc(9px + (10.5 - 9) * ((100vw - 400px) / (1600 - 400)));
  --xxxxs: calc(7px + (8 - 7) * ((100vw - 400px) / (1600 - 400)));


}